<div class="final">
<div class="main">
  <h1>Currency Converter</h1>
  <div class="start">
    <button (click)="start()">Start</button>
  </div>
  <div class="container1">
    <select (input)="selectcurF($event)">
      <option *ngFor="let i of currencies">{{i}}</option>
    </select>
    <input type="text" value={{details1}} disabled>

    <input type="tel" (input)="FromCon($event)" value="0">
    </div>
    <div class="button">
    <button (click)="onclick()">Convert</button>
    </div>
  <div class="container2">

    <select (input)="selectcurT($event)">
      <option *ngFor="let i of currencies">{{i}}</option>
    </select>
    <input type="text" value={{details2}} disabled>
    <input type="tel" disabled value={{ToVal}} (input)="ToCon($event)">
  </div>
</div>
</div>