/* You can add global styles to this file, and also import other style files */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../src/assets/banknotes-7850299_1280.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}